/* Este é um comentário */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --cor-primaria: #000;
    --cor-secundaria: #f3750e;
    --cor-destaque1: #08506d;
    --cor-destaque2: #fff;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif; 
}

/* BOBY */
body {
    font-family: var(--fonte-body);
    background-color: var(--cor-destaque2);
    color: #000;
}    

/* LAYOUT PRINCIPAL */
main, footer {
    width: 840px;
    margin: 0 auto;
}

/* CABEÇALHO (HEADER) */
header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

/* Logo */
header img {
    width: 120px;
    justify-content: flex-end;
}

/*  MENU DE NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: flex-end;
}

nav ul { 
    display: flex;
    list-style: none; /* remove as bolinhas */
    margin: 0;
    padding: 0; 
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--cor-primaria);
    border: 1px solid #999;
    padding: 10px 20px;
    background-color: rgb(250, 248, 248);
    margin-left: -1px; /* junta as bordas */
}

nav li + li a {
    border-left: none;
}

/* TÍTULOS */
/*
h1{
    color:white;
}
    */
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    /* background-color: var(--cor-destaque2); */
    /* background-color: transparent;*/
    text-align: center;
}

/*  HERO Parte Superior da Pagina Logo e o Menu  */

.hero {
    position: relative;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    overflow: hidden;
}

/* Imagem principal */
.hero .img-fundo {
    display: block;
    width: 100%;
    height: auto;
}

/* Faixa do título da Imagem Principal */
.hero h1 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    /* background-color: var(--cor-destaque1); /* Sem transparência */
    background-color: rgba(8, 80, 109, 0.85); /* Com Transparência */
    color: var(--cor-destaque2);
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 2;  
}

.botao-passeio {
    display: inline-block;
    padding: 15px 15px;
    background: linear-gradient(135deg, #f3750e, #ff9d2e);
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 6px 15px rgba(243, 117, 14, 0.35);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

/*  CARD DA MISSÃO DOURADO*/
.hero article {
    position: absolute;
    bottom: 25px;
    left: 5%;
    width: 90%;
    background-color: rgba(238, 237, 241, 0.85);
    border: 1px solid #b39226;
    padding: 15px 20px;
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
    
    gap: 15px;
}


/* Imagem do artigo */
.hero article img {
    float: right;    
    width: 150px;
    margin-left: 20px;
}


section p {
    color: var(--cor-primaria);
    text-align: justify;
}


/* SEÇÃO AVENTURAS */
.aventuras {
    margin: 40px 0;
    text-align: center;
}

.aventuras h2 {
    margin-bottom: 20px;
}
/* GALERIA DE IMAGENS AVENTURA */
.galeria {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;   

}

/* FIGURAS AVENTURA */
.galeria figure {
    text-align: center;
}

.galeria img {
    width: 100%;
    max-width: 140px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #999;
}

.galeria figcaption {
    margin-top: 8px;
    font-size: 14px;
}

/* IMAGEM HISTORIA*/
.imagem-historia {
    display: flex;
    align-items: center; /* Alinha o texto com o centro da imagem */
    justify-content: space-between;
    gap: 20px; /* Espaço entre texto e imagem */
 }

.imagem-central {
    width: 320px;  /* Ajuste a largura conforme preferir */
    height: auto;  /* Mantém a proporção da foto */  
    
}

/* Colunas de texto (Esquerda e Direita) */
.texto-coluna p {
    flex: 1; /* Faz as duas colunas de texto terem o mesmo tamanho */
    
}
/* RODAPÉ */
footer {
    margin-top: 8px;
    background: var(--cor-destaque1);
    color:white
}

/* Barra das redes sociais */
.redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--cor-primaria);
    padding: 5px;
}

/* Texto Redes Sociais */
.redes-sociais p {
    color: var(--cor-destaque2);
}

/* Links */
.redes-sociais a {
    text-decoration: none;
}

/* Ícones */
.redes-sociais img {
    width: 15px;
}

.redes-sociais nav {
    color: var(--cor-destaque2);
}

/* Pagina Contato */

/* GALERIA DE IMAGENS CONTATO */
.contato-galeria {
    display: flex;
    justify-content: space-around; /* Cria espaço ao redor dos itens: */
    align-items: flex-start;   

}

/* FIGURAS CONTATO */
.contato-galeria figure {
    text-align: center;
}

.contato-galeria img {
    width: 100%;
    max-width: 140px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #999;
}

.contato-galeria figcaption {
    margin-top: 8px;
    font-size: 14px;
}
.h1, h2 {
    text-align: center;
}

/* FORMULARIO PAGINA CONTATO */

/* LAYOUT*/
.formulario {
    display: flex;
    gap: 40px;
    align-items: flex-start;  
}

/*  MAP */
.map {    
    flex: 1;
    width: 100%;
    min-height: 430px;
    border: 0;
}
/* Formulário */
form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* CAMPOS */
.campo {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.campo label {
    font-weight: bold;
    grid-template-columns: 120px 1fr;

}

/* CAMPOS DE TEXTO*/
input[type="text"],
input[type="email"],
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    min-height: 80px;
    resize: vertical;

}
/* RADIO */
.radio{
    display:flex;
    flex-direction:column;
    gap: 5px;
}

.radio input{
    width: auto;
}

/* Checkbox */
input[type="checkbox"]{
    width: auto;
}

.radio label{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Botão */
.botao{
    margin-top: 15px;
}

.botao button{
    padding: 12px 20px;
    cursor: pointer;
}