/* Este é um comentário */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --cor-primaria: #000;
    --cor-secundaria: #f3750e;
    --cor-destaque1: #08506d;
    --cor-destaque2: #fff;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif; 
}

/* BOBY */
body {
    font-family: var(--fonte-body);
    background-color: var(--cor-destaque2);
    color: #000;
}    

/* LAYOUT PRINCIPAL */
main, footer {
    width: 840px;
    margin: 0 auto;
}

/* CABEÇALHO (HEADER) */
header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

/* Logo */
header img {
    width: 120px;
    justify-content: flex-end;
}

/*  MENU DE NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: flex-end;
}

nav ul { 
    display: flex;
    list-style: none; /* remove as bolinhas */
    margin: 0;
    padding: 0; 
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--cor-primaria);
    border: 1px solid #999;
    padding: 10px 20px;
    background-color: rgb(250, 248, 248);
    margin-left: -1px; /* junta as bordas */
}

nav li + li a {
    border-left: none;
}

/* TÍTULOS */

h1{
    color:white;
}
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    /* background-color: var(--cor-destaque2); */
    /* background-color: transparent;*/
    text-align: center;
}

/*  HERO Parte Superior da Pagina Logo e o Menu  */

.hero {
    position: relative;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    overflow: hidden;
}

/* Imagem principal */
.hero .img-fundo {
    display: block;
    width: 100%;
    height: auto;
}

/* Faixa do título da Imagem Principal */
.hero h1 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    /* background-color: var(--cor-destaque1); /* Sem transparência */
    background-color: rgba(8, 80, 109, 0.5); /* Com Transparência */
    color: var(--cor-destaque2);
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 2;  
}

/*  CARD DA MISSÃO DOURADO*/
.hero article {
    position: absolute;
    bottom: 25px;
    left: 5%;
    width: 90%;
    background-color: rgba(238, 237, 241, 0.85);
    border: 1px solid #b39226;
    padding: 15px 20px;
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: justify;
    gap: 15px;
}

/* Imagem do artigo */
.hero article img {
    float: right;    
    width: 150px;
    margin-left: 20px;
}


section p {
    color: var(--cor-primaria);
    text-align: justify;
}


/* SEÇÃO AVENTURAS */
.aventuras {
    margin: 40px 0;
    text-align: center;
}

.aventuras h2 {
    margin-bottom: 20px;
}
/* GALERIA DE IMAGENS AVENTURA */
.galeria {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;   

}

/* FIGURAS AVENTURA */
.galeria figure {
    text-align: center;
}

.galeria img {
    width: 100%;
    max-width: 140px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #999;
}

.galeria figcaption {
    margin-top: 8px;
    font-size: 14px;
}

/* IMAGEM HISTORIA*/
.imagem-historia {
    display: flex;
    align-items: center; /* Alinha o texto com o centro da imagem */
    justify-content: space-between;
    gap: 20px; /* Espaço entre texto e imagem */
 }

.imagem-central {
    width: 320px;  /* Ajuste a largura conforme preferir */
    height: auto;  /* Mantém a proporção da foto */  
    
}

/* Colunas de texto (Esquerda e Direita) */
.texto-coluna p {
    flex: 1; /* Faz as duas colunas de texto terem o mesmo tamanho */
    
}
/* RODAPÉ */
footer {
    margin-top: 8px;
    background: var(--cor-destaque1);
    color:white
}

/* Barra das redes sociais */
.socialmedia {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--cor-secundaria);
    padding: 8px;
}

/* Texto Redes Sociais */
.socialmedia p {
    color: var(--cor-destaque2);
}

/* Links */
.socialmedia a {
    text-decoration: none;
}

/* Ícones */
.socialmedia img {
    width: 20px;
}

.socialmedia nav {
    color: var(--cor-destaque2);
}